---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="text-neutral-600 hover:text-black dark:text-neutral-400 dark:hover:text-white"
>
  ~ / <slot />
</a>
