---
const { prevPost, nextPost } = Astro.props;
---

<div class="text-sm text-neutral-600 dark:text-neutral-400 flex justify-between">
  {
    prevPost?.id ? (
      <a
        href={`/blog/${prevPost?.id}`}
        class="hover:text-black dark:hover:text-white transition-colors duration-200"
      >
        ~ / blog / {prevPost?.data.title}
      </a>
    ) : (
      <div></div>
    )
  }

  {
    nextPost?.id ? (
      <a
        href={`/blog/${nextPost?.id}`}
        class="hover:text-black dark:hover:text-white transition-colors duration-200"
      >
        ~ / blog / {nextPost?.data.title}
      </a>
    ) : (
      <div></div>
    )
  }
</div>
