---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="block text-current hover:text-black dark:hover:text-white"
>
  {entry.data.title}
</a>
